.dietary {
    color:azure;
padding-bottom:80px
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content p {
    text-align: center;
    line-height: 1.8
}